body {
  font-family: 'Inter', sans-serif;
}

button{
  border: none;
  background-color: #E3E3E3;
  border-radius: 25px;
  height: 30px;
  padding: 5px 15px;
  cursor: pointer;
}

img{
  width: 30px;
}